@tailwind base;
@layer base {
  html {
    font-size: 16px;
  }
}

@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy-Bold"; 
  src: local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./fonts/static/Inter-SemiBold.ttf") format("truetype");
}



.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 32px;
}

.switch .toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CFCFCF;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 3px;
  background-color: white;
  transition: .25s;
}

.toggle:checked + .slider {
  background-color: #1F78FF;
}

.toggle:focus + .slider {
  outline: none;
}

.toggle:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}